
.opening-header{
  text-align: center;
}

.main-container {
  margin-top: 100px;  
}

.input-container-style {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  width: 60vw;
}

.input-element-container{
  width: 30%;    
}

.screen-header {
  text-align: center;
}

.input-screen {
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;  
  height: 40px;
  text-align: center;
  padding-top: 14px;
  font-size: 20px;
}

.keypad-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 0 auto;
  width: 210px;
  height: 180px;
}

.equal-btn-container {
  display: flex;
  justify-content: center;
}

.equal-btn {
  width: 200px;
  height: 30px;
  margin: 10px 5px 0 5px;
  border-bottom: 2px solid black;    
}

.operation-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.number-btn {
  width: 60px;
  height: 30px;
  margin: 10px 5px 0 5px;  
  
  border-bottom: 2px solid black;    
}

.operation-btn {
  width: 80px;
  height: 40px;
  margin: 20px;
  border-bottom: 2px solid black;    
}

/* button defaults */
button{
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
