
.opening-header{
  text-align: center;
}

.main-container {
  margin-top: 100px;  
}

.input-container-style {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
}

.input-screen {
  border: 2px solid black;
  margin: 10px;  
  width: 30%;  
  height: 40px;
  text-align: center;
  padding-top: 14px;
  font-size: 20px;
}

.keypad-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 0 auto;
  width: 180px;
  height: 180px;
}

.operation-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.number-btn {
  width: 60px;
  height: 30px;
  margin-top: 10px;
}

.operation-btn {
  width: 80px;
  height: 40px;
  margin: 20px;
}

/* button defaults */
button{
  font-size: 20px;
}
